---
import { newtClient } from "../lib/newt";
import type { Gallery } from "../lib/newt";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "ギャラリー";
const title = "ギャラリー";
const subTitle = "Gallery";
const description = "とちぎ星団民の会の写真ギャラリー";
const { items: gallerys } = await newtClient.getContents<Gallery>({
  appUid: "gallery",
  modelUid: "gallery",
  query: {
    order: ["_sys.customOrder"],
    select: ["alt", "picture"],
  },
});
---

<BaseLayout
  pageTitle={pageTitle}
  title={title}
  subTitle={subTitle}
  description={description}
>
  <section id="gallery">
    <h2>Gallery</h2>
    <div class="grid">
      {
        gallerys.map((gallery) => {
          return (
            <a
              class="grid-gallery"
              href={`${gallery.picture.src}?quarity=10&format=auto`}
              data-aos="fade-up"
            >
              <img
                class="grid-item"
                src={`${gallery.picture.src}?quarity=10&format=auto`}
                alt={gallery.alt}
              />
            </a>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
<!-- LuminousのJS -->
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous.min.js"
></script>
<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="../scripts/Luminous.js"></script>

<style>
  /*
GALLERY COMMON
================================================ */
  section {
    padding-top: 80px;
  }
  #gallery {
    background-image: linear-gradient(var(--light-blue), var(--blue));
    padding: 7rem 0;
    -webkit-clip-path: polygon(0 0%, 100% 5%, 100% 92%, 0 97%);
    clip-path: polygon(0 0%, 100% 5%, 100% 92%, 0 97%);
  }
  /*
GRID
================================================ */
  .grid {
    width: 94vw;
    margin: 0 auto 3vw;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(2, 46vw); /* (94 - 2) / 2 */
    grid-template-rows: repeat(8, 46vw);
  }
  .grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
  }

  /*
DESKTOP SIZE
================================================ */
  @media (min-width: 600px) {
    /* Header */
    .header-name {
      font-size: 5rem;
    }
    /* Grid */
    .grid {
      margin: 0 auto;
      width: 80vw;
      gap: 1vw;
      grid-template-columns: repeat(3, 26vw);
      grid-template-rows: repeat(5, 26vw);
    }
    .grid-item {
      transition: 0.3s;
    }
    .grid-item:hover {
      filter: grayscale(0);
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
      transform: scale(1.1);
      z-index: 3;
      position: relative;
    }
  }
</style>
<style is:inline>
  /*
LIGHTBOX LUMINOUS
================================================ */
  .lum-lightbox.lum-open {
    z-index: 4;
  }
  .lum-lightbox-inner img {
    max-width: 100vw !important;
  }
</style>
